<h1 class="text-center my-3">Table Finder</h1>



<div class="row justify-content-center mb-3">
  <div class="col-sm-8 my-3">
    <%= form_with url: root_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search by title or city"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>





<div class="row justify-content-center" role="tabpanel">


  <div class="row row-cols-2 col-8 overflow-scroll" style="height: 400px;" id="restaurantList" role="tablist">

    <% @restaurants.each do |restaurant| %>


      <div class="card-category" data-bs-toggle="list" href="#<%= restaurant.id %>" role="tab" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path restaurant.photo.key, height: 200, crop: :fill %>')"
>
         <%= restaurant.name %>
    </div>





    <% end %>

  </div>


  <div class="col-4 tab-content mb-5" style="height: 400px;">

    <% @restaurants.each do |restaurant| %>

      <div class="tab-pane border border-info ps-3" style="height: 400px;" id="<%= restaurant.id %>" role="tabpanel">


<div class="container d-flex justify-content-between my-3">
      <h3><%= restaurant.name %></h3>

      <%= link_to 'Reserve', new_restaurant_reservation_path(restaurant), class: "btn btn-warning" %>
</div>

        <%= restaurant.description %> <br>

        <%= restaurant.city %> <br>
        <%= restaurant.address %>




      </div>

    <% end %>



  </div>
</div>
