<h1 class="text-center my-5">Your restaurants</h1>

  <ul class="nav nav-tabs">

    <% @restaurants.each do |restaurant| %>

      <li class="nav-item" role="presentation">
        <a class="ms-3" data-bs-toggle="tab"
           href="#<%= restaurant.id %>">

                <%= restaurant.name %>
        </a>
      </li>

    <% end %>

  </ul>


<div class="tab-content" style="height: 250px;">

      <% @restaurants.each do |restaurant| %>


        <div class="tab-pane text-center mt-2" id="<%= restaurant.id %>">
<%= cl_image_tag restaurant.photo.key, style: "height: 100px; with: auto; border-radius: 5%" %>

            <%= restaurant.description %> <br>

        <%= restaurant.city %> <br>
        <%= restaurant.address %>

      <div class="container">

            <%= link_to 'Edit', edit_restaurant_path(restaurant), class:"btn btn-success" %>

            <%= link_to "Delete", restaurant_path(restaurant), data: {turbo_method: :delete}, class:"btn btn-danger"%>
      </div>


        </div>

      <% end %>


</div>




<div class="text-end mt-5">
<%= link_to 'Add restaurant', new_restaurant_path, class: "btn btn-primary"%>
</div>
